[submodule "components/json/cJSON"]
	path = components/json/cJSON
	url = https://github.com/DaveGamble/cJSON.git

[submodule "components/mbedtls/mbedtls"]
	path = components/mbedtls/mbedtls
	url = https://github.com/espressif/mbedtls.git

[submodule "components/lwip/lwip"]
	path = components/lwip/lwip
	url = https://github.com/espressif/esp-lwip.git

[submodule "components/mqtt/esp-mqtt"]
	path = components/mqtt/esp-mqtt
	url = https://github.com/espressif/esp-mqtt.git

[submodule "components/coap/libcoap"]
	path = components/coap/libcoap
	url = https://github.com/obgm/libcoap.git
